export(vast_open)
export(vast_view)
export(vast_status)
export(vast_goto)
export(vast_find)
export(vast_filter)
export(vast_layout)
export(vast_read)
export(vast_export)
export(vast_is_running)
export(vast_log_path)
export(vast_build_index)
export(vast_attach_index)
export(vast_detach_index)
export(vast_sort)
export(arrange)
export(filter)
export(select)
export(distinct)
export("%>%")
export(starts)
export(ends)
export(contains)
S3method(print, vast_tbl)
S3method(dim, vast_tbl)
S3method(head, vast_tbl)
S3method(as.data.frame, vast_tbl)
S3method(.DollarNames, vast_tbl)
S3method(filter, vast_tbl)
S3method(arrange, vast_tbl)
S3method(select, vast_tbl)
S3method(unique, vast_tbl)
S3method(distinct, vast_tbl)
importFrom(dplyr, filter, select, distinct, arrange, "%>%")
importFrom(jsonlite, fromJSON, toJSON)
importFrom(rlang, expr, enexprs)
importFrom(tidyselect, eval_select, starts_with, ends_with, contains)
importFrom(utils, write.table, head, .DollarNames)
importFrom(vroom, vroom)
